<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eurovision 2024</title>
    <!-- Pico CSS -->
    <link rel="stylesheet" href="../static/pico-1.5.11/css/pico.css">
     <!-- Flag Icon CSS -->
     <link rel="stylesheet" href="../static/flag-icons-local/css/flag-icons.css">
   
</head>
<body>

    <div class="container">

        <header>
            <div class="grid" style="display: flex; align-items: flex-end; padding: 20px; padding-bottom:100px;"> <!-- Flexbox container -->
                <img src="../static/images/eurovision_logo.png" height="405" width="1280" alt="Eurovision Logo" style="padding-right: 10px;"> <!-- Padding to the image -->
                <span style="font-size: 2rem; font-weight: 700; align-self: flex-end;">Eurovision 2024 (Sweden)</span> <!-- Align text to the bottom -->
            </div>
        </header>
        

        <form action="/submit_ratings" method="post">
            <div class="grid">
                <label for="ratingAlbania"><span class="fi fi-al"></span> Albania</label>
                <input type="number" id="ratingAlbania" name="ratingAlbania" min="0" max="10" step="0.01" required>
            </div>
            <div class="grid">
                <label for="ratingArmenia"><span class="fi fi-am"></span> Armenia</label>
                <input type="number" id="ratingArmenia" name="ratingArmenia" min="0" max="10" step="0.01" required>
            </div>
            <div class="grid">
                <label for="ratingAustralia"><span class="fi fi-au"></span> Australia</label>
                <input type="number" id="ratingAustralia" name="ratingAustralia" min="0" max="10" step="0.01" required>
            </div>
            <div class="grid">
                <label for="ratingAustria"><span class="fi fi-at"></span> Austria</label>
                <input type="number" id="ratingAustria" name="ratingAustria" min="0" max="10" step="0.01" required>
            </div>
            <div class="grid">
                <label for="ratingAzerbaijan"><span class="fi fi-az"></span> Azerbaijan</label>
                <input type="number" id="ratingAzerbaijan" name="ratingAzerbaijan" min="0" max="10" step="0.01" required>
            </div>
            <div class="grid">
                <label for="ratingBelgium"><span class="fi fi-be"></span> Belgium</label>
                <input type="number" id="ratingBelgium" name="ratingBelgium" min="0" max="10" step="0.01" required>
            </div>
            <div class="grid">
                <label for="ratingCroatia"><span class="fi fi-hr"></span> Croatia</label>
                <input type="number" id="ratingCroatia" name="ratingCroatia" min="0" max="10" step="0.01" required>
            </div>
            <div class="grid">
                <label for="ratingCyprus"><span class="fi fi-cy"></span> Cyprus</label>
                <input type="number" id="ratingCyprus" name="ratingCyprus" min="0" max="10" step="0.01" required>
            </div>
            <div class="grid">
                <label for="ratingCzechia"><span class="fi fi-cz"></span> Czechia</label>
                <input type="number" id="ratingCzechia" name="ratingCzechia" min="0" max="10" step="0.01" required>
            </div>
            <div class="grid">
                <label for="ratingDenmark"><span class="fi fi-dk"></span> Denmark</label>
                <input type="number" id="ratingDenmark" name="ratingDenmark" min="0" max="10" step="0.01" required>
            </div>
            <div class="grid">
                <label for="ratingEstonia"><span class="fi fi-ee"></span> Estonia</label>
                <input type="number" id="ratingEstonia" name="ratingEstonia" min="0" max="10" step="0.01" required>
            </div>
            <div class="grid">
                <label for="ratingFinland"><span class="fi fi-fi"></span> Finland</label>
                <input type="number" id="ratingFinland" name="ratingFinland" min="0" max="10" step="0.01" required>
            </div>
            <div class="grid">
                <label for="ratingFrance"><span class="fi fi-fr"></span> France</label>
                <input type="number" id="ratingFrance" name="ratingFrance" min="0" max="10" step="0.01" required>
            </div>
            <div class="grid">
                <label for="ratingGeorgia"><span class="fi fi-ge"></span> Georgia</label>
                <input type="number" id="ratingGeorgia" name="ratingGeorgia" min="0" max="10" step="0.01" required>
            </div>
            <div class="grid">
                <label for="ratingGermany"><span class="fi fi-de"></span> Germany</label>
                <input type="number" id="ratingGermany" name="ratingGermany" min="0" max="10" step="0.01" required>
            </div>
            <div class="grid">
                <label for="ratingGreece"><span class="fi fi-gr"></span> Greece</label>
                <input type="number" id="ratingGreece" name="ratingGreece" min="0" max="10" step="0.01" required>
            </div>
            <div class="grid">
                <label for="ratingIceland"><span class="fi fi-is"></span> Iceland</label>
                <input type="number" id="ratingIceland" name="ratingIceland" min="0" max="10" step="0.01" required>
            </div>
            <div class="grid">
                <label for="ratingIreland"><span class="fi fi-ie"></span> Ireland</label>
                <input type="number" id="ratingIreland" name="ratingIreland" min="0" max="10" step="0.01" required>
            </div>
            <div class="grid">
                <label for="ratingIsrael"><span class="fi fi-il"></span> Israel</label>
                <input type="number" id="ratingIsrael" name="ratingIsrael" min="0" max="10" step="0.01" required>
            </div>
            <div class="grid">
                <label for="ratingItaly"><span class="fi fi-it"></span> Italy</label>
                <input type="number" id="ratingItaly" name="ratingItaly" min="0" max="10" step="0.01" required>
            </div>
            <div class="grid">
                <label for="ratingLatvia"><span class="fi fi-lv"></span> Latvia</label>
                <input type="number" id="ratingLatvia" name="ratingLatvia" min="0" max="10" step="0.01" required>
            </div>
            <div class="grid">
                <label for="ratingLithuania"><span class="fi fi-lt"></span> Lithuania</label>
                <input type="number" id="ratingLithuania" name="ratingLithuania" min="0" max="10" step="0.01" required>
            </div>
            <div class="grid">
                <label for="ratingLuxembourg"><span class="fi fi-lu"></span> Luxembourg</label>
                <input type="number" id="ratingLuxembourg" name="ratingLuxembourg" min="0" max="10" step="0.01" required>
            </div>
            <div class="grid">
                <label for="ratingMalta"><span class="fi fi-mt"></span> Malta</label>
                <input type="number" id="ratingMalta" name="ratingMalta" min="0" max="10" step="0.01" required>
            </div>
            <div class="grid">
                <label for="ratingMoldova"><span class="fi fi-md"></span> Moldova</label>
                <input type="number" id="ratingMoldova" name="ratingMoldova" min="0" max="10" step="0.01" required>
            </div>
            <div class="grid">
                <label for="ratingNetherlands"><span class="fi fi-nl"></span> Netherlands</label>
                <input type="number" id="ratingNetherlands" name="ratingNetherlands" min="0" max="10" step="0.01" required>
            </div>
            <div class="grid">
                <label for="ratingNorway"><span class="fi fi-no"></span> Norway</label>
                <input type="number" id="ratingNorway" name="ratingNorway" min="0" max="10" step="0.01" required>
            </div>
            <div class="grid">
                <label for="ratingPoland"><span class="fi fi-pl"></span> Poland</label>
                <input type="number" id="ratingPoland" name="ratingPoland" min="0" max="10" step="0.01" required>
            </div>
            <div class="grid">
                <label for="ratingPortugal"><span class="fi fi-pt"></span> Portugal</label>
                <input type="number" id="ratingPortugal" name="ratingPortugal" min="0" max="10" step="0.01" required>
            </div>
            <div class="grid">
                <label for="ratingSan Marino"><span class="fi fi-sm"></span> San Marino</label>
                <input type="number" id="ratingSan Marino" name="ratingSan Marino" min="0" max="10" step="0.01" required>
            </div>
            <div class="grid">
                <label for="ratingSerbia"><span class="fi fi-rs"></span> Serbia</label>
                <input type="number" id="ratingSerbia" name="ratingSerbia" min="0" max="10" step="0.01" required>
            </div>
            <div class="grid">
                <label for="ratingSlovenia"><span class="fi fi-si"></span> Slovenia</label>
                <input type="number" id="ratingSlovenia" name="ratingSlovenia" min="0" max="10" step="0.01" required>
            </div>
            <div class="grid">
                <label for="ratingSpain"><span class="fi fi-es"></span> Spain</label>
                <input type="number" id="ratingSpain" name="ratingSpain" min="0" max="10" step="0.01" required>
            </div>
            <div class="grid">
                <label for="ratingSweden"><span class="fi fi-se"></span> Sweden</label>
                <input type="number" id="ratingSweden" name="ratingSweden" min="0" max="10" step="0.01" required>
            </div>
            <div class="grid">
                <label for="ratingSwitzerland"><span class="fi fi-ch"></span> Switzerland</label>
                <input type="number" id="ratingSwitzerland" name="ratingSwitzerland" min="0" max="10" step="0.01" required>
            </div>
            <div class="grid">
                <label for="ratingUkraine"><span class="fi fi-ua"></span> Ukraine</label>
                <input type="number" id="ratingUkraine" name="ratingUkraine" min="0" max="10" step="0.01" required>
            </div>
            <div class="grid">
                <label for="ratingUnited Kingdom"><span class="fi fi-gb"></span> United Kingdom</label>
                <input type="number" id="ratingUnited Kingdom" name="ratingUnited Kingdom" min="0" max="10" step="0.01" required>
            </div>
            <button type="submit" class="btn">Submit Ratings</button>
        </form>
    </div>

</body>
</html>
