<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eurovision 2024</title>
    <!-- Pico CSS -->
    <link rel="stylesheet" href="../static/pico-1.5.11/css/pico.css">
     <!-- Flag Icon CSS -->
     <link rel="stylesheet" href="../static/flag-icons-local/css/flag-icons.css">
</head>
<body>
    <div class="container">

        <header>
            <div class="grid" style="display: flex; align-items: flex-end; padding: 20px; padding-bottom:100px;"> <!-- Flexbox container -->
                <img src="../static/images/eurovision_logo.png" height="405" width="1280" alt="Eurovision Logo" style="padding-right: 10px;"> <!-- Padding to the image -->
                <span style="font-size: 2rem; font-weight: 700; align-self: flex-end;">Eurovision 2024 (Sweden)</span> <!-- Align text to the bottom -->
            </div>
        </header>

        <p>Thank you for your submission! We are crunching the numbers!</p>
        
</body>
</html>